* {
    font-family: 'Roboto', sans-serif;
}

/*top bar start*/
.top-outer {
    width: 100%;
    height: 40px;
    background-color: rgba(52, 73, 94, 0.2);
}

.top-inner {
    display: flex;
    height: 100%;
}

.top-element {
    flex: 1;
}

.top-left > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.top-left > ul > li {
    color: white;
    font-size: 15px;
    height: 100%;
    display: flex;
    margin-right: 15px;
    align-items: center;
}

.top-left > ul > li span:hover {
    cursor: pointer;
}

.top-right ul {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.top-right ul li {
    color: white;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.top-right > ul > li:last-child {
    margin-right: 0;
}

.top-right ul li:hover {
    color: #c0392b;
    cursor: pointer;

}

/*top bar end*/

/*nav bar start*/
.nav-outer {
    width: 100%;
    height: 70px;
    background-color: rgba(127, 140, 141, 0.5);
}

/*nav bar end*/
/*main slider start*/
.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: -110px;
    z-index: -1;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    left: 0;
}

.slide.active {
    opacity: 1;
}

/*main slider end*/

/*solutions start*/
.solution-main-outer {
    width: 100%;
    height: auto;
    background-image: url("https://preview.colorlib.com/theme/eroo/images/use_your_illusion.png.webp");
}

.inner-wrap {
    width: 100%;
    height: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: all 1s;
    background-color: rgba(52, 73, 94,1.0);
    color: orange;
}

.inner-wrap-element {
    flex: 1;
    display: flex;
    padding: 10px;
}

.inner:hover {
    background-color: rgba(211, 84, 0, 1.0);
    cursor: pointer;
    color: white;
}

.inner > .inner-wrap-element:first-child {
    justify-content: flex-end;
}

.inner-wrap-element > i {
    font-size: 50px;
}
.movable-element{
    width: 40px;
    height: 40px;
    border: 2px solid rgba(211, 84, 0, 1.0);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    background-color: rgba(52, 73, 94,1.0);
    right: 100px;
    transition: all 1s;
 /*   display: none;*/
}
.inner:hover .movable-element{
    transform: translateX(50px);
    display: flex;
}
/*solutions end*/


@media (max-width: 1000px) {
    .top-outer{
        display: none;
    }
}